name: Analise de linguagem e autopack

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  veracode-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Detectar Linguagem do Projeto
        id: detect_language
        run: |
          if [ -f "pom.xml" ]; then
            echo "language=java" >> $GITHUB_ENV
          elif [ -f "package.json" ]; then
            echo "language=node" >> $GITHUB_ENV
          elif [ -f "requirements.txt" ]; then
            echo "language=python" >> $GITHUB_ENV
          elif ls *.csproj &>/dev/null; then
            echo "language=dotnet" >> $GITHUB_ENV
          else
            echo "Linguagem n茫o detectada ou suportada. Abortando."
            exit 1
          fi

      - name: Instalar Pr茅-requisitos
        run: |
          if [ "$language" == "java" ]; then
            sudo apt-get update && sudo apt-get install -y openjdk-11-jdk maven
          elif [ "$language" == "node" ]; then
            sudo apt-get update && sudo apt-get install -y nodejs npm
          elif [ "$language" == "python" ]; then
            sudo apt-get update && sudo apt-get install -y python3 python3-pip
          elif [ "$language" == "dotnet" ]; then
            sudo apt-get update && sudo apt-get install -y dotnet-sdk-6.0
          else
            echo "Linguagem desconhecida. Abortando."
            exit 1
          fi

  autopack:
    needs: veracode-analysis
    runs-on: ubuntu-latest
    steps:
      - name: Baixar e Instalar CLI do Veracode
        run: |
          # Definir a pasta com o Build ID
          BUILD_ID=$GITHUB_RUN_ID
          TARGET_DIR=$GITHUB_WORKSPACE/artifacts/$BUILD_ID
      
          # Criar a pasta TARGET_DIR para consolidar os arquivos
          mkdir -p $TARGET_DIR
      
          # Baixar e instalar o CLI do Veracode
          curl -fsS https://tools.veracode.com/veracode-cli/install | sh
      
          # Exibir os arquivos no diret贸rio atual antes de executar o CLI
          echo " Arquivos no diret贸rio de origem (antes do Veracode CLI):"
          ls -la .
      
          # Executar o CLI do Veracode com depura莽茫o habilitada
          ./veracode package --source . --type directory --output $TARGET_DIR --trust --debug || exit 1
      
          # Exibir os arquivos gerados pelo CLI
          echo " Arquivos gerados no diret贸rio $TARGET_DIR:"
          ls -la $TARGET_DIR
      
          # Validar se existem arquivos no TARGET_DIR
          if [ "$(ls -A $TARGET_DIR)" ]; then
            echo " Arquivos encontrados no diret贸rio $TARGET_DIR, prosseguindo com a descompacta莽茫o."
      
            # Descompactar todos os arquivos ZIP gerados diretamente para TARGET_DIR
            find $TARGET_DIR -name "*.zip" | while read filename; do
              echo " Descompactando $filename para $TARGET_DIR"
              unzip -o "$filename" -d $TARGET_DIR
            done
      
            # Compactar todos os arquivos no TARGET_DIR em um 煤nico arquivo ZIP
            zip -r $TARGET_DIR/analysisPack.zip $TARGET_DIR/*
      
            # Exibir a estrutura final no diret贸rio do build ID
            echo " Diret贸rio final em $TARGET_DIR:"
            ls -la $TARGET_DIR
          else
            echo "锔 Nenhum arquivo encontrado no diret贸rio $TARGET_DIR. Encerrando com falha."
            exit 1
          fi

  veracode-sast-pipeline-scan:
    needs: autopack
    runs-on: ubuntu-latest
    steps:
      - name: Baixar Artefato
        uses: actions/download-artifact@v4
        with:
          name: analysisPack

      - name: Veracode Pipeline Scan
        uses: veracode/Veracode-pipeline-scan-action@v1.0.15
        with:
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          file: "analysisPack.zip"

  veracode-sast-policy-scan:
    needs: [autopack, veracode-sast-pipeline-scan]
    runs-on: ubuntu-latest
    steps:
      - name: Check out main branch
        uses: actions/checkout@v4

      - name: Baixar Artefato
        uses: actions/download-artifact@v3
        with:
          name: analysisPack

      - name: Veracode SAST Policy Scan
        uses: veracode/veracode-uploadandscan-action@0.2.6
        with:
          appname: ${{ github.repository }}
          createprofile: true
          filepath: 'analysisPack.zip'
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          version: "${{ github.run_id }}"
          scantimeout: 12
